body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e1dd;
    height: 100vh;
    margin: 0;
}

#conteinerCalculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b263b;
    border: 8px solid #0d1b2a;
    border-radius: 30px;
    width: 420px;
    height: 720px;
    gap: 10px;
}

#conteiner_TelaCalculadora{
    text-align: right;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: #e0e1dd;
    width: 380px;
    height: 180px;
    font-size: 20px;
    font-family: monospace;
    color: #0d1b2a;
}

#conteiner_botoesCalculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    width: 415px;
    height: 480px;
}

#linha1{
    display: flex;
    justify-content: right;
    height: 80px;
    gap: 8px;
}

.linha{
    display: flex;
    justify-content: center;
    height: 80px;
    gap: 8px;
}

#coluna5{
    display: flex;
    justify-content: space-between;
}

.numeros{
    background-color: #778da9;
    border: none;
    border-radius: 20px;
    font-size: 40px;
    font-family: monospace;
    width: 100px;
    height: 100%;
}

.numeros:hover{
    background-color: #e0e1dd;
}