<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/index.js"></script>
    <title>Projeto 2</title>
</head>
<body>
    <h1 id="titulo">Calcule a Média</h1>
   <div id="conteiner">
       <div id="telaCalculadora">

       </div>

       <input type="number" class="inputNumber" id="nota1" placeholder="Insira a Nota">
       <input type="number" class="inputNumber" id="nota2" placeholder="Insira a Nota">
       <input type="number" class="inputNumber" id="nota3" placeholder="Insira a Nota">

       <button id="botaoCalcular" onclick="calcular()">
           <img src="" alt="">
       </button>
   </div>
</body>
</html>