<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/index.js"></script>
    <title>Projeto 3</title>
</head>
<body>
    <div id="conteinerCalculadora">
        <div id="conteiner_TelaCalculadora">
            <h1 id="resultado">0</h1>
        </div>

        <div id="conteiner_botoesCalculadora">
            <div id="linha1">
                <button class="numeros" id="botaoApagar"><=</button>
                <button class="numeros" id="botaoLimpar">C</button>
                <button class="numeros" id="operadorDivisao">/</button>
            </div>

            <div class="linha" id="coluna2">
                <button class="numeros" id="botao7">7</button>
                <button class="numeros" id="botao8">8</button>
                <button class="numeros" id="botao9">9</button>
                <button class="numeros" id="operadorMultiplicacao">X</button>
            </div>

            <div class="linha" id="coluna3">
                <button class="numeros" id="botao4">4</button>
                <button class="numeros" id="botao5">5</button>
                <button class="numeros" id="botao6">6</button>
                <button class="numeros" id="operadorSubtracao">-</button>
            </div>

            <div class="linha" id="coluna4">
                <button class="numeros" id="botao1">1</button>
                <button class="numeros" id="botao2">2</button>
                <button class="numeros" id="botao3">3</button>
                <button class="numeros" id="operadorAdicao">+</button>
            </div>

            <div class="linha" id="coluna5">
                <button class="numeros" id="botaoPonto">.</button>
                <button class="numeros" id="botao0">0</button>
                <button class="numeros" id="botaoIgual">=</button>
            </div>
        </div>
    </div>
</body>
</html>