<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/index.js"></script>
    <title>Projeto 3</title>
</head>
<body>
    <div id="conteinerCalculadora">
        <div id="conteiner_TelaCalculadora">
            <h1 id="resultado"></h1>
        </div>

        <div id="conteiner_botoesCalculadora">
            <div id="linha1">   
                <button class="numeros" onclick="limpar()" id="botaoLimpar">C</button>
                <button class="numeros" onclick="apagar()" id="botaoApagar"><=</button>
                <button class="numeros" onclick="insert('/')" id="operadorDivisao">/</button>
            </div>

            <div class="linha" id="linha2">
                <button class="numeros" onclick="insert('7')" id="botao7">7</button>
                <button class="numeros" onclick="insert('8')" id="botao8">8</button>
                <button class="numeros" onclick="insert('9')" id="botao9">9</button>
                <button class="numeros" onclick="insert('*')" id="operadorMultiplicacao">X</button>
            </div>

            <div class="linha" id="linha3">
                <button class="numeros" onclick="insert('4')" id="botao4">4</button>
                <button class="numeros" onclick="insert('5')" id="botao5">5</button>
                <button class="numeros" onclick="insert('6')" id="botao6">6</button>
                <button class="numeros" onclick="insert('-')" id="operadorSubtracao">-</button>
            </div>

            <div class="linha" id="linha4">
                <button class="numeros" onclick="insert('1')" id="botao1">1</button>
                <button class="numeros" onclick="insert('2')" id="botao2">2</button>
                <button class="numeros" onclick="insert('3')" id="botao3">3</button>
                <button class="numeros" onclick="insert('+')" id="operadorAdicao">+</button>
            </div>

            <div class="linha" id="linha5">
                <button class="numeros" onclick="insert('.')" id="botaoPonto">.</button>
                <button class="numeros" onclick="insert('0')" id="botao0">0</button>
                <button class="numeros" onclick="calcular()" id="botaoIgual">=</button>
            </div>
        </div>
    </div>
</body>
</html>