<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/lista_veiculos.css">
    <title>Veículos Cadastrados</title>
</head>
<body>
    <div id="conteiner_lista">
        <ul id="categorias">
            <li>Modelo</li>
            <li>Placa</li>
            <li>Entrada</li>
            <li>Saída</li>
        </ul>

        <div id="garagem">

            <!---Apenas modelos para teste visual de como ficaria os veículos cadastrados (remover dps)-->
            <ul class="veiculo">
                <li>Harley Davidson</li>
                <li>ABC-1234</li>
                <li>12:02:02</li>
                <button class="botao_saida">X</button>
            </ul>

            <ul class="veiculo">
                <li>Dodge Ram 1500</li>
                <li>XYZ-9876</li>
                <li>14:10:02</li>
                <button class="botao_saida">x</button>
            </ul>

            <ul class="veiculo">
                <li>Dodge Ram 1500</li>
                <li>JKL-4567</li>
                <li>14:40:02</li>
                <button class="botao_saida">x</button>
            </ul>

            <ul class="veiculo">
                <li>Dodge Ram 2500</li>
                <li>MNO-3210</li>
                <li>15:20:00</li>
                <button class="botao_saida">x</button>
            </ul>

            <ul class="veiculo">
                <li>Royal Enfield</li>
                <li>PQR-6543</li>
                <li>16:20:50</li>
                <button class="botao_saida">X</button>
            </ul>
           
        </div>
    </div>
    <button id="botao_voltar" onclick="voltar()">Voltar</button>

    <script src="../public/js/cadastro_veiculo.js"></script>
</body>
</html>