<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../public/css/sobre.css">
</head>
<body>
    <div id="conteiner">
        <figure>
            <img id="img_help" src="../public/img/icon_help.png" alt="">
        </figure>
        <div id="areaText">
            <h2>Projeto 1</h2>
            <h6>Hello Electron</h6>
            <p>
                Criador: Rafael
                <br>
                Versão: 1.0.0
                <br>
                Data: 2024
                <br>
                Electron: 31.1.0
                <br>
                Node.js: 20.14.0
                <br>
                SO: Linux
            </p>
        </div>
    </div>
</body>
</html>